<% include partials/header %>
<!--< include partials/nav >-->
<div class="container">
        <div class="starter-template">
            <h1>About</h1>

            <p>
                <a href="https://medium.com/jondengdevelops/deploy-your-front-end-app-in-20-lines-of-code-24be44f8b51">This article</a> helped with deployment on Heroku
            </p>

            <p>
                Creating a front end page using API calls with Javascript. I will be using the <a href="https://punkapi.com/documentation/v2">Punk Beer API call</a> to run my app.
            </p>
            
            <p>
                The prompt is from <a href="https://medium.com/@GarrettLevine/5-projects-to-complete-when-starting-to-learn-front-end-web-development-48e8a1ce3178">Garrett Levine on Medium</a>.
            </p>
        </div>
    </div>
    
    <% include partials/footer %>